---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

// Variables
$primary: #000000;
$spot: rgb(255, 13, 191);

$break-mobile: 42.25rem;
$break-form: 48.75rem;

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison-Neue-Book.eot');
  src: url('../fonts/Maison-Neue-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Maison-Neue-Book.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('../fonts/Maison-Neue-Mono.eot');
  src: url('../fonts/Maison-Neue-Mono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Maison-Neue-Mono.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

// @-webkit-keyframes pulsate {
//     0% {
//       -webkit-transform: skew(-10deg);
//     }
//     50% {
//       -webkit-transform: skew(0deg);
//     }
//     100% {
//       -webkit-transform: skew(-10deg);
//     }
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "layout",
        "post";
