<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="outer">
    <div class="camo"></div>
    <div class="bg">
      {% for box in (1...40) %}
      <div class="box">
        <div class="box__inner">

        </div>
      </div>
      {% endfor %}
    </div>
    <div class="wrapper wrapper--main content-wrapper">

      {{ content }}

      {% include footer.html %}
    </div>
  </div>
</body>
<script src="{{ '/assets/js/2016.js' | prepend: site.github.url }}" type="text/javascript" charset="utf-8"></script>
</html>
